@charset "utf-8";

.chat_messages_div {
  background-color: #ffffff;
  border-radius: 4px;
  height: 250px;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 10px 10px 10px 10px;
  position: relative;
}

.chat_messages_div:after {
  background-image: url("../view/static/media/diva-exchange-600x315.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
}

#chat_message {
  width: 100%;
  resize: unset;
  border-radius: 4px;
}
.chat_accounts_ul {
  background-color: #f5f5f5;
  height: 68%;
  overflow-y: auto;
  margin: 20px 45px 5px 10px;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
}

.current_chat {
  background-color: #bfbebe;
}

.chat_accounts_ul li:not(.currentChat) {
  cursor: pointer;
}

ul.chat_accounts_ul li {
  width: 234px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  color: darkblue;
}

.my_message_li {
  color: blue;
  padding-left: 45px;
}

.incoming_message_li {
  color: grey;
  padding-right: 45px;
}

.my_message_div {
  border: 2px solid blue;
  padding: 7px;
  border-radius: 9px 9px 0 9px;
  margin: 9px;
  z-index: 27;
  position: relative;
  background: #ffffff;
}

.incoming_message_div {
  border: 2px solid grey;
  padding: 7px;
  border-radius: 9px 9px 9px 0;
  margin: 9px;
  z-index: 27;
  position: relative;
  background: #ffffff;
}

.chat_segment_title {
  font-weight: bold;
  font-size: 20px;
}

.profile_fields {
  padding: 15px;
}