@charset "utf-8";

@import "../node_modules/bulma/bulma";
@import "color";
@import "nav";
@import "orderbook";
@import "chat";

@keyframes fadein {
    from { opacity: 0; visibility: visible; }
    to   { opacity: 1; visibility: visible; }
}

@keyframes fadeout {
    from { opacity: 1; visibility: visible; }
    to   { opacity: 0; visibility: hidden; }
}

.fadein {
  animation: fadein 1s linear forwards;
}

.fadeout {
  animation: fadeout 1s linear forwards;
}

html.error {
  h1 {
    font-size: 4rem
  }
  h1 span.error-status {
    padding-right: 1rem
  }
}

section#app {
  margin: 20px 0;
}

button.is-loading .icon {
  visibility: hidden;
}
