$pathMedia : '/media/';

span.logo-contract {
  background-size: contain !important;
  position: absolute !important;
}

span.logo-contract.BTC_XMR {
  background: url("#{$pathMedia}BTC_XMR.png") no-repeat;
}

span.logo-contract.BTC_ETH {
  background: url("#{$pathMedia}BTC_ETH.png") no-repeat;
}

span.logo-contract.BTC_ZEC {
  background: url("#{$pathMedia}BTC_ZEC.png") no-repeat;
}

article.order {
  span.logo-contract {
    width: 150px;
    height: 70px;
    top: -25px;
    right: -10px;
  }

  button#place-order {
    color: $success-dark;
  }

  button#place-order-disabled {
    color: $danger-dark;
  }
}

article.auction,
article.orderbook,
article.market {
  span.logo-contract {
    position: static !important;
    display: inline-block;
    height: 18px;
    width: 40px;
    margin-right: 10px;
  }
}

table th.action,
table td.action {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 40px;
}

article.auction,
article.asset,
article.orderbook,
article.market {
  table {
    table-layout: fixed;
  }

  table th.buy,
  table td.buy {
    text-align: right;
  }

  .amount {
    color: #7a7a7a;
    font-size: 0.8rem;
  }
}

article.orderbook {
  button {
    @extend .is-danger;
    @extend .is-inverted;
    color: $danger-dark !important;
  }
}

article.asset {
  button {
    @extend .is-link;
    @extend .is-inverted;
    color: $link-dark !important;
  }
}