- var date = new Date(Date.now());

nav(class='navbar is-fixed-bottom is-light is-hidden-touch')
  div(class='container')
    div(class='navbar-start')
      div(class='navbar-item')
        span(class='is-large' data-culture-text='Role')= Culture.t('Role')
        span(class='is-large') :&nbsp;
          span(id='role' class='has-text-weight-bold') Auctioneer
      div(class='navbar-item')
        span(class='is-large' data-culture-text='Karma')= Culture.t('Karma')
        span(class='is-large') :&nbsp;
          span(id='karma' class='has-text-weight-bold') 176

    div(class='navbar-end')
      div(class='navbar-item')
        span(class='is-large' data-culture-text='Connection')= Culture.t('Connection')
        span(class='is-large') :
        span(id='status' class='icon has-text-danger')
          i(class='fas fa-bolt')
      div(class='navbar-item')
        include ui-language
