doctype html
html(class='has-navbar-fixed-top has-navbar-fixed-bottom' data-culture-lang=Culture.uiLanguage lang=Culture.uiLanguage)
  include head

  body
    div(id='modal-notification' class='modal')
      div(class='modal-background')
      div(class='modal-content')
        article(class='message is-danger')
          div(class='message-header')
            p
            button(class='delete')
          div(class='message-body')
            p

    include navigation

    section(class='section' id='app')
      div(class='container')
        block content

    include footer
