form(id='order' class='order')
  div(class='columns')
    div(class='column is-fullwidth')
      div(class='field is-grouped is-grouped-multiline')
        div(class='control')
          div(class='select')
            select(id='contract')
              each array in arrayContract
                option(title=array[0]
                  data-culture-text=array[0]
                  selected=(array[0] === contract)
                  value=array[0])= array[1]
        div(class='control')
          span(class='select')
            select(id='type')
              option(title=Culture.t('Buy')
                selected=(type === 'buy')
                data-culture-title=Culture.t('Buy')
                data-culture-text=Culture.t('Buy')
                value='buy')= Culture.t('Buy')
              option(title=Culture.t('Sell')
                selected=(type === 'sell')
                data-culture-title=Culture.t('Sell')
                data-culture-text=Culture.t('Sell')
                value='sell')= Culture.t('Sell')

  div(class='columns')
    div(class='column is-fullwidth')
      div(class='field has-addons')
        div(class='control is-expanded')
          input(id='amount'
            class='input'
            type='text'
            pattern='^[0-9]{1,12}([.][0-9]{1,8})?$'
            title=Culture.t('Amount')
            data-culture-title='Amount'
            placeholder=Culture.t('Amount')
            data-culture-placeholder='Amount'
            required)
        div(class='control is-expanded')
          input(id='price'
            class='input'
            type='text'
            pattern='^[0-9]{1,12}([.][0-9]{1,8})?$'
            title=Culture.t('Price')
            data-culture-title='Price'
            placeholder=Culture.t('Price')
            data-culture-placeholder='Price'
            required)
        div(class='control')
          button(id='place-order'
            type='submit'
            class='button is-hidden'
            title=Culture.t('place')
            data-culture-title=Culture.t('place'))
            span(class='icon is-small')
              i(class='fas fa-check')
          button(id='place-order-disabled'
            disabled
            class='button'
            title=Culture.t('place')
            data-culture-title=Culture.t('place'))
            span(class='icon is-small')
              i(class='fas fa-times')
