extends layout

block content
  script.
    Ui.load('/js/diva-trade.js', () => {
      UiTrade.make('#{contract}');
    });

  div(class='columns')
    div(class='column is-6')
      article(class='box order is-relative')
        span(class='logo-contract')
        include trade-place-order

      article(class='panel orderbook')
        div(class='panel-heading')
          span(class='logo-contract')
          span(data-culture-text='Nostro')= Culture.t('Nostro')
        div(class='panel-tabs')
          a(class='is-active' data-culture-text='NostroOrder' data-tab='nostro-order')= Culture.t('NostroOrder')
          a(data-culture-text='NostroTrade' data-tab='nostro-trade')= Culture.t('NostroTrade')
        include trade-nostro-order
        include trade-nostro-trade

    div(class='column is-6')
      article(class='panel asset')
        div(class='panel-heading')
          span(data-culture-text='NostroAsset')= Culture.t('NostroAsset')
        include trade-nostro-asset

  div(class='columns')
    div(class='column is-6')
      article(class='panel market')
        div(class='panel-heading')
          span(class='logo-contract')
          span(data-culture-text='Market')= Culture.t('Market')
        include trade-market-order

    div(class='column is-6')
      article(class='panel auction')
        div(class='panel-heading')
          span(class='logo-contract')
          span( data-culture-text='AuctionPrices')= Culture.t('AuctionPrices')
        include trade-market-auction
