div(id='market-auction' class='panel-block')
  table(class='table is-striped is-fullwidth')
    thead
      tr
        th Price
        th Amount
        th Date/Time
    tbody
      tr
        td 7.99999
        td 12.4534354
        td 12:39:17
      tr
        td 8.010156
        td 0.781234
        td 12:37:57
      tr
        td 7.896
        td 11.234354
        td 11:19:34
      tr
        td 7.796
        td 111.4234354
        td 11:14:34
      tr
        td 7.543596
        td 11.234354
        td 10:12:45
