div(class='panel-block')
  table(class='table is-striped is-fullwidth')
    thead
      tr
        th(class='action')
        th
          div(class='asset' data-culture-text='Asset')= Culture.t('Asset')
          div(class='amount' data-culture-text='Amount')= Culture.t('Amount')
    tbody
      tr
        td(class='action')
          button(class='button is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
        td
          div(class='asset') BTC
          div(class='amount') 0.67543
      tr
        td(class='action')
          button(class='button is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
        td
          div(class='asset') ETH
          div(class='amount') 0.0067543
      tr
        td(class='action')
          button(class='button is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
        td
          div(class='asset') XMR
          div(class='amount') 17'145.67543
