div(id='market-order' class='panel-block')
  table(class='table is-striped is-fullwidth')
    thead
      tr
        th(class='action')
        th(class='buy')
          div(class='price' data-culture-text='Price')= Culture.t('Price')
          div(class='amount' data-culture-text='Amount')= Culture.t('Amount')
        th(class='sell')
          div(class='price' data-culture-text='Price')= Culture.t('Price')
          div(class='amount' data-culture-text='Amount')= Culture.t('Amount')
        th(class='action')
    tbody
      tr
        td(class='action')
          button(class='button is-link is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
        td(class='buy')
          div(class='price') 50'000.675
          div(class='amount') 0.001234
        td(class='sell')
          div(class='price') 50'923.987
          div(class='amount') 0.001234
        td(class='action')
          button(class='button is-link is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
      tr
        td(class='action')
          button(class='button is-link is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
        td(class='buy')
          div(class='price') 49'999.675
          div(class='amount') 1.11234
        td(class='sell')
          div(class='price') 51'923.987
          div(class='amount') 0.0991233
        td(class='action')
          button(class='button is-link is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
      tr
        td(class='action')
          button(class='button is-link is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
        td(class='buy')
          div(class='price') 47'999.675
          div(class='amount') 1'234.0222
        td(class='sell')
          div(class='price') 1'252'923.09
          div(class='amount') 12'123.01234
        td(class='action')
          button(class='button is-link is-inverted')
            span(class='icon')
              i(class='fas fa-angle-down')
